@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.root {
    height: 13vh;
    width: 46vw;
    background-color: #F1F3F9D9;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding-top: 26px;
    padding-bottom: 15px;

}

.other {
    display: flex;
    flex-direction: row;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
}

.userData {
    display: flex;
    flex-direction: column;
}

.user {
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    font-weight: 500;
    line-height: 33px;
    letter-spacing: 0em;
    color: #000000;
}

.birthday {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #71716C;
}

.link {
    height: 40px;
    width: 40px;
}

.changeDate {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #71716C;
    display: flex;
    justify-content: flex-end;
    width: 95%;
}